# Vivado artifacts
*.jou
*.log
*.backup.log
*.dmp
.Xil/
build/
.images/

# Python
__pycache__/
*.pyc

# Visual Studio
*.VC.db
*.sdf
*.ipch
*.opensdf
*.aps
*.plg
*.opt
*.ncb
*.suo
Debug/
Release/
driver/build_tmp/
driver/build/
xdma_driver_win_src_2017/build/
xdma_driver_win_src_2017/build_tmp/
xdma_driver_win_src_2017/buildbuild_buckup/
*.pfx
*.cer
*.cat
*.cdf
*.sys
*.exe
parser.out
parsetab.py
